:root{
    --pretoazul: #22223B;
    --cinzaescuro: #4A4E69;
    --cinzaclaro: #9A8C98;
    --marromclaro: 201, 173, 167;
    --bege: 242, 233, 228;
    --errorbg: lightpink;
    --texto: #ffffff;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Roboto", sans-serif;;
}


.wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.center{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.perfil{
    width: 100%;
    max-width: 1900px;
    margin: 0 auto 20px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: center;
    padding-bottom: 2vh;
}

.perfil .dados{
    justify-self: start;
    font-size: 15px;
}

.perfil .carrinho{
    justify-self: end;
}

.produtos, .lojaa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lojaa{
    background: url(../../public/Captura\ de\ tela\ 2026-06-30\ 110428.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 60vh;
    color: black;
}

.produtos{
    padding-top: 7vh;
    padding-bottom: 2vh;
}


.btn{
    background-color: black !important;
}
